## Corrija os tipos de dados de `city_mpg`, `hwy_mpg`, `cmb_mpg`
    2008 e 2018: converta de string para float

In [2]:
# carregue os conjuntos de dados
import pandas as pd
df_08 = pd.read_csv('data_08.csv')
df_18 = pd.read_csv('data_18.csv')

In [3]:
df_08.head(3)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7.0,15,20,17,4,no
1,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,7.0,17,22,19,5,no
2,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,midsize car,7.0,16,24,19,5,no

In [4]:
# converta colunas mpg para floats
mpg_columns = ['city_mpg', 'hwy_mpg', 'cmb_mpg']
for c in mpg_columns:
    df_18[c] = df_18[c].astype(float)
    df_08[c] = df_08[c].astype(float)

## Corrija o tipo de dados `greenhouse_gas_score`
    2008: converta de float para int

In [11]:
# converta de float para int
df_08['greenhouse_gas_score'] = df_08['greenhouse_gas_score'].astype(int)
df_18['greenhouse_gas_score'] = df_18['greenhouse_gas_score'].astype(int)

In [19]:
df_08['cyl'] = df_08['cyl'].str.extract('(\d+)', expand=False).astype(int)

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [25]:
df_18['air_pollution_score'].astype(float, inplace=True)

0      3.0
1      3.0
2      3.0
3      3.0
4      3.0
5      3.0
6      3.0
7      1.0
8      3.0
9      7.0
10     7.0
11     7.0
12     7.0
13     5.0
14     3.0
15     3.0
16     5.0
17     3.0
18     5.0
19     5.0
20     5.0
21     5.0
22     3.0
23     3.0
24     3.0
25     3.0
26     3.0
27     3.0
28     3.0
29     3.0
      ...
802    3.0
803    3.0
804    3.0
805    3.0
806    3.0
807    7.0
808    3.0
809    3.0
810    3.0
811    3.0
812    7.0
813    5.0
814    5.0
815    3.0
816    3.0
817    3.0
818    3.0
819    3.0
820    3.0
821    3.0
822    1.0
823    5.0
824    5.0
825    3.0
826    3.0
827    5.0
828    5.0
829    7.0
830    7.0
831    7.0
Name: air_pollution_score, Length: 832, dtype: float64

## Todos tipos de dados agora estão corretos! Verifique uma última vez para confirmar todas mudanças.

In [21]:
df_08.dtypes

model                    object
displ                   float64
cyl                       int64
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score     float64
city_mpg                float64
hwy_mpg                 float64
cmb_mpg                 float64
greenhouse_gas_score      int64
smartway                 object
dtype: object

In [24]:
df_18.dtypes

model                    object
displ                   float64
cyl                       int64
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score       int64
city_mpg                float64
hwy_mpg                 float64
cmb_mpg                 float64
greenhouse_gas_score      int64
smartway                 object
dtype: object

In [23]:
df_08.dtypes == df_18.dtypes

model                    True
displ                    True
cyl                      True
trans                    True
drive                    True
fuel                     True
veh_class                True
air_pollution_score     False
city_mpg                 True
hwy_mpg                  True
cmb_mpg                  True
greenhouse_gas_score     True
smartway                 True
dtype: bool

In [ ]:
# Salve seus novos conjuntos de dados LIMPOS como novos arquivos!
df_08.to_csv('clean_08.csv', index=False)
df_18.to_csv('clean_18.csv', index=False)