# Limpando rótulos das colunas
Use os arquivos `all_alpha_08.csv` e `all_alpha_18.csv`

In [3]:
# carregue os conjuntos de dados
import pandas as pd
df_08 = pd.read_csv('data/all_alpha_08.csv', delimiter='\t')
df_18 = pd.read_csv('data/all_alpha_18.csv', delimiter='\t')

In [4]:
# exiba o conjunto de dados de 2008
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no

In [5]:
# exiba o conjunto de dados de 2018
df_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309

### Descarte colunas irrelevantes

In [6]:
# descarte colunas do conjunto de dados de 2008
df_08.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'], axis=1, inplace=True)

# confirme as mudanças
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [7]:
# descarte colunas do conjunto de dados de 2018
df_18.drop(['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'], axis=1, inplace=True)

# confirme as mudanças
df_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,25,35,29,6,No

### Renomeie as colunas

In [11]:
df_08.

AttributeError: 'DataFrame' object has no attribute 'label'

In [ ]:
# renomeie Sales Area para Cert Region


# confirme as mudanças
df_08.head(1)

In [ ]:
# substitua espaços por rótulos com subtrações e letras minúsculas para o conjunto de dados de 2008
df_08.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

# confirme as mudanças
df_08.head(1)

In [ ]:
# substitua espaços por rótulos com subtrações e letras minúsculas para o conjunto de dados de 2018


# confirme as mudanças
df_18.head(1)

In [ ]:
# verifique se os rótulos das colunas dos conjuntos de dados de 2008 e 2018 são idênticos
df_08.columns == df_18.columns

In [ ]:
# certifique-se que eles são todos idênticos assim
(df_08.columns == df_18.columns).all()

In [ ]:
# salve os novos conjuntos de dados para a próxima seção
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)