# Filtre, descarte valores nulos, desduplique
Use os arquivos `data_08.csv` e `data_18.csv`

In [2]:
# carregue conjuntos de dados
import pandas as pd
df_08 = pd.read_csv('data_08.csv')
df_18 = pd.read_csv('data_18.csv')

In [3]:
# exiba as dimensões do conjunto de dados
df_08.shape

(2404, 14)

In [4]:
# exiba as dimensões do conjunto de dados
df_18.shape

(2648, 14)

## Filtre por região de certificação

In [5]:
df_08.head()

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

In [ ]:
# filtre conjuntos de dados por linhas segundo os padrões da Califórnia
df_08 = 
df_18 =

In [ ]:
# confirme que a única região de certificação é a Califórnia
df_08['cert_region'].unique()

In [ ]:
# confirme que a única região de certificação é a Califórnia
df_18['cert_region'].unique()

In [ ]:
# descarte a coluna de certificação de região de ambos conjuntos de dados

In [ ]:
df_08.shape

In [ ]:
df_18.shape

## Descarte linhas com valores faltantes

In [ ]:
# exiba a contagem de valores faltantes para cada característica em 2008

In [ ]:
# exiba a contagem de valores faltantes para cada característica em 2018

In [ ]:
# descarte linhas com quaisquer valores nulos em ambos conjuntos de dados

In [ ]:
# verifique se quaisquer colunas em 2008 têm valores nulos - o resultado deve ser False
df_08.isnull().sum().any()

In [ ]:
# verifique se quaisquer colunas em 2018 têm valores nulos - o resultado deve ser False
df_18.isnull().sum().any()

## Desduplique os dados

In [ ]:
# exiba o número de duplicatas nos conjuntos de dados de 2008 e 2018

In [ ]:
# descarte duplicatas em ambos conjuntos de dados

In [ ]:
# exiba o número de duplicatas novamente para confirmar desduplicação - ambos devem ser 0

In [ ]:
# salve seu progresso para a próxima seção
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)